{% extends "orange_sherbert/base.html" %}

{% block title %}Delete {{ object }}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="card">
        <div class="card-body">
            <h1 class="mb-6">Are you sure you want to delete "<strong>{{ object }}</strong>"?</p>
            
            <form method="post">
                {% csrf_token %}
                <div class="card-actions justify-end gap-2">
                    <a href="{% url model_name|add:'-detail' object.pk %}" class="btn btn-ghost">Cancel</a>
                    <button type="submit" class="btn btn-error">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
