{% extends "orange_sherbert/base.html" %}
{% load sherbert_tags %}

{% block title %}{{ verbose_name_plural }}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ verbose_name_plural }}</h1>
            <div class="card-actions justify-end">
                <a href="{% url model_name|add:'-create' %}" class="btn btn-primary">Create New</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        {% if object_list %}
                            {% get_object_fields object_list.0 as first_object_fields %}
                            {% for field_name, field_value in first_object_fields %}
                                <th>{{ field_name|title }}</th>
                            {% endfor %}
                        {% endif %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            {% get_object_fields object as fields %}
                            {% for field_name, field_value in fields %}
                                <td>{{ field_value }}</td>
                            {% endfor %}
                            <td>
                                <a href="{% url model_name|add:'-detail' object.pk %}" class="btn btn-sm btn-ghost">View</a>
                                <a href="{% url model_name|add:'-update' object.pk %}" class="btn btn-sm btn-ghost">Edit</a>
                                <a href="{% url model_name|add:'-delete' object.pk %}" class="btn btn-sm btn-ghost">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">No items found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
